
.header{
	width:950px;
	height:auto;
	margin: auto;
}

.encapsulador{
	width:950px;
	height:auto;
	margin: auto;
}


#form-logeo{
	width: 500px;
	margin-left: 225px;
	margin-top: 90px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

.menu{
	margin-top:27px;
	margin-left:160px;

}

#imagenhome{
	float: right; 
}

.contenedor{
	margin-top: 75px; 
}

#form-alta-pacientes{
	float: left; 
	margin-left: 15px;
}

#form-alta-usuarios{
	float: left; 
	margin-left: 15px;
}

#form-alta-turnos{
	float: left; 
	margin-left: 15px;
}

#tabla-alta-turnos2{
	margin-left: 15px;
	margin-right: 15px;
}

#form-gestion-pacientes{
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 15px;
}

#tabla-gestion-pacientes{
	margin-top: 75px;
	margin-left: 15px;
	margin-right: 15px;
}

#tabla-gestion-obrasociales{
	margin-top: 45px;
	margin-left: 15px;
	margin-right: 15px;
}


#form-modificacion-pacientes{
	float: left;  
	margin-left: 15px;"
}

#form-alta-nroafiliado{
	float: left;  
	margin-left: 70px;
}

#tabla-gestion-medicos{

margin-top: 75px;
margin-left: 15px;
margin-right: 15px;

}

#tabla-gestion-licencias{

margin-top: 45px;
margin-left: 15px;
margin-right: 15px;

}

#form-turnos{

margin-top: 50px;
margin-left: 15px;
margin-right: 15px;

}

#tabla-medicos{

margin-top: 75px;
margin-left: 15px;
margin-right: 15px;

}

.error{
    background-color: #BC1010;
    padding: 4px 10px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    margin-left: 13px;
    margin-top: -2px;
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}


.panelUsuario {
	width: 950px;
	height: auto;
	margin: auto;
	margin-top: 10px;
}


#tabla-gestion-usuarios{
	margin-top: 45px; 
	margin-left: 15px; 
	margin-right: 15px;
}

#form-modificacion-usuarios{
	float: left;  
	margin-left: 15px;"
}
